/* .form-check-input:checked {
  background-color: #000000;
  border-color: #000000;
}

.modal-content {
  background-color: #f2fafd;
  border-radius: 32px;
  width: 446px;
  height: 281px;
  padding: 25px;
} */
