
.catalogoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
  }
    
  .productoContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 60%; 
    margin: 0 auto;
  }  
  
  .cardProducto {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .cardProducto img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .linkDetalle {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
  }
  
  .linkDetalle:hover {
    text-decoration: none;
  }  