.banner_perro img {
    padding-bottom: 30px;
    margin: 0;
    width: 100%;
    height: auto;
}

.titulo {
    color: #535353;
    font-size: 64px;
    font-weight: 900;
    font-family: "Montserrat", serif;
    text-align: center;
    padding-bottom: 30px;
}

.cardProducto {
    width: 232px;
    height: 442px;
    border-radius: 24px;
    padding: 8px;
    background-color: #fff;
    text-align: left;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.199);
    display: flex;
    flex-direction: column;
}

.imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.cardProducto img {
    width: 150px;
    height: 150px;
}

.nom_producto {
    width: 216px;
    height: 38px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Montserrat", serif;
    justify-content: left;
    padding-top: 20px;
    color: #363636;
    line-height: 1.2;
}

.nom_precio {
    font-size: 24px;
    font-weight: 600;
    font-family: "Montserrat", serif;
    color: 000000;
    padding-top: 10px;
    display: flex;
    justify-content: end;
    margin-bottom: 8px;
    border-bottom: 1px solid #929292;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8px;
}

.linkDetalle {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.linkDetalle:hover {
    text-decoration: none;
}