.linkVolver {
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  font-family: "Montserrat", serif;
  color: #404040;
  display: flex;
  align-items: center;
}  
  .productoNombre {
    width: 568px;
    font-size: 40px;
    font-weight: 700;
    font-family: "Montserrat", serif;
    color: #000000;
    line-height: 1.2;
    margin-bottom: 15px;
  }
  
  .productoImagen {
    width: 279px;
    height: 341px;
  }

  .productoMarca {
    font-size: 25px;
    font-weight: 700;
    font-family: "Montserrat", serif;
    color: #000000;
    padding-bottom: 30px;
  }
  
  .productoPrecio {
    font-size: 32px;
    font-weight: 500;
    font-family: "Montserrat", serif;
    color: #000000;
  }

  .titulo {
    color: #535353;
    font-size: 64px;
    font-weight: 900;
    font-family: "Montserrat", serif;
    text-align: center;
    padding-bottom: 30px;
  }
