.form-check-input[type="radio"] {
  border-radius: 50%;
  transform: scale(1.3);
  padding: 0px;
  margin-left: auto;
}

label {
  width: 100%;
  display: flex;
}

.form-check-input:checked {
  background-color: #000000;
  border-color: #000000;
}
