.titulo {
  color: #535353;
  font-size: 64px;
  font-weight: 900;
  font-family: "Montserrat", serif;
}

.titulo2{
  font-size: 64px;
  font-weight: 900;
  font-family: "Montserrat", serif;
}

.subtitulo {
  font-size: 40px;
  font-weight: 700;
  font-family: "Montserrat", serif;
  margin-bottom: 0;
}

.texto {
  width: 1062px;
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  font-family: "Montserrat", serif;
}

