.linkVolver {
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  font-family: "Montserrat", serif;
  color: #404040;
  display: flex;
  align-items: center;
}

.titulo {
  color: #535353;
  font-size: 48px;
  font-weight: 900;
  font-family: "Montserrat", serif;
  text-align: center;
  padding-bottom: 30px;
}

.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  height: 100%;
}

.loginCard {
  background-color: #f2fafd;
  border-radius: 32px;
  width: 510px;
  height: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding-top: 15px;
}

.loginCard h1 {
  font-size: 40px;
  font-weight: 900;
  font-family: "Montserrat", serif;
  text-align: center;
  color: #363636;
  padding: 35px;
  margin: 0px;
}

.inputContainer {
  position: relative;
  width: 446px;
}

input {
  border-radius: 32px;
  width: 100%;
  height: 44px;
  margin: 5px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Montserrat", serif;
  color: #535353;
  padding-left: 30px;
}

.message {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  height: 20px;
  color: #33363f;
  width: 25px;
  height: 25px;
}

.forgotPassword {
  text-align: center;
  padding: 10px;
}

.forgotPassword a {
  font-size: 16px;
  font-weight: 500;
  font-family: "Montserrat", serif;
  text-decoration: none;
  color: #363636;
}

.sesion {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 5px;
}

.sesion button {
  background-color: #f2b705;
  border: #f2b705;
  border-radius: 32px;
  width: 138px;
  height: 40px;
  color: #222222;
  font-size: 16px;
  font-weight: 500;
  font-family: "Montserrat", serif;
}

button:hover {
  background-color: #f2b705;
}

.inputContainer {
  position: relative;
  width: 446px;
}

.validInput {
  border: 2px solid #7fd54d;
}

.invalidInput {
  border: 2px solid #f23d4c;
}

.noUnderline {
  text-decoration: none;
}

.rectangle {
  width: 7px;
  height: 445px;
  background-color: #82e3f8;
}

.sideOptions {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.registro {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  background-color: #f2b705;
  border: none;
  width: 370px;
  height: 43px;
  border-radius: 32px;
  color: #363636;
  font-size: 20px;
  font-weight: 500;
  font-family: "Montserrat", serif;
}

.invitado {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  border: 1px solid #f2b705;
  background-color: transparent;
  width: 370px;
  height: 43px;
  border-radius: 32px;
  color: #363636;
  font-size: 20px;
  font-weight: 500;
  font-family: "Montserrat", serif;
}

.invitado:hover {
  background-color: transparent;
  color: #363636;
  border: 1px solid #f2b705;
}
