.customContainer {
  max-width: 800px;
  margin: 15px auto;
  padding: 0 15px;
  height: 100%;
}

.titulo {
  color: #535353;
  font-size: 24px;
  font-weight: 700;
  font-family: "Montserrat", serif;
  text-align: center;
  padding-bottom: 25px;
  padding-top: 30px;
}

.iconContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iconText {
  line-height: 1.2;
  margin-top: 10px;
  text-align: center;
}

.icons {
  border-radius: 50%;
  background-color: #c0f1fc;
  width: 88px;
  height: 88px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconCaja {
  border-radius: 50%;
  background-color: #05c7f2;
  width: 88px;
  height: 88px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons img,
.iconLocation img {
  max-width: 100%;
  max-height: 100%;
}

.chevron {
  width: 46px;
  height: 47px;
}

.cardTitle {
  color: #363636;
  font-size: 16px;
  font-family: "Montserrat", serif;
  font-weight: 500;
}

.cardText {
  color: #363636;
  font-size: 24px;
  font-family: "Montserrat", serif;
  font-weight: 700;
  border-bottom: 1px solid #888888;
  padding-right: 20px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  background-color: #f2b705;
  border-radius: 20px;
  padding: 12px;
  margin-left: 20px;
}

.contenedorProducto {
  width: 190px;
  height: 150px;
  justify-items: center;
  justify-content: center;
  padding-left: 20px;
}

.contenedorDireccion {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 81px;
}

.direccionTitle {
  flex-grow: 1;
  text-align: center;
  color: #404040;
  font-size: 20px;
  font-family: "Montserrat", serif;
  font-weight: 700;
  width: 166px;
}

.comunaText {
  color: #404040;
  font-size: 14px;
  font-family: "Montserrat", serif;
  font-weight: 400;
}
