.footer {
  background-color: #05c7f2;
  padding: 40px 20px;
  color: white;
}

.footerContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footerColumns {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 30px;
}

.footerColumn {
  flex: 1;
  margin: 0 15px;
}

.footerColumn img {
  width: 250px;
}

.footerTitle {
  color: white;
  font-weight: bold;
  margin-bottom: 20px;
}

.footerList {
  list-style-type: none;
  padding: 0;
}

.footerList li {
  margin-bottom: 10px;
}

.footerList a {
  color: #6c757d;
  text-decoration: none;
}

.footerList a:hover {
  color: #000;
  text-decoration: underline;
}

.footerIcons {
  display: flex;
  align-items: center;
}

.footerIcons a {
  margin-right: 15px;
  font-size: 2rem;
  color: inherit;
  text-decoration: none;
}

.footerIcons a:last-child {
  margin-right: 0;
}

.footerIcons a:hover {
  color: #ffc71d;
}
