:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: em;
  line-height: 1.1;
}



button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Estilos para el encabezado */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #4CAF50;
  padding: 25px;
  border-bottom: 1px solid #dee2e6;
  color: white;
}

.header-title {
  margin: 0;
  font-size: 30px;
  flex: 1;
  text-align: left;
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;
}

.search-input {
  padding: 10px 15rem 10px 10px;
  width: 100%;
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.search-icon {
  position: absolute;
  right: 1rem; 
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
  pointer-events: none; 
}

.icons {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.icon {
  margin: 0 10px;
  font-size: 24px;
  cursor: pointer;
}


/* Estilos del Navbar */
.Navbar {
  margin: 0;
  background-color: #535353;
  padding: 10px;
}

.Navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

.Navbar ul li {
  margin: 0 10px;
}

.Navbar ul li a {
  text-decoration: none;
  color: white;
}

.Navbar ul li a:hover {
  color: #4CAF50;
}

/* Estilos para el Home */
.HomePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 75vh;
}
.HomePage h1 {
  padding-bottom: 2rem;
}

.Card-img {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.Card-img div {
  margin: 10px;
}

.Card-img img {
  width: 300px; 
  height: 200px; 
  object-fit: cover; 
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Estilos para el contenido principal */
/* .main-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  background-color: #f4f4f4;
  padding: 1rem;
  width: 200px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 1rem;
}

.sidebar ul li a {
  text-decoration: none;
  color: #333;
}

.sidebar ul li a:hover {
  color: #4CAF50;
} */

/* Contenedor del catálogo */
.catalogo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  text-align: center;
}
/* Contenedor de los productos */
.producto-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dos columnas */
  gap: 10px;
  width: 60%; 
  margin: 0 auto;
}

/* Estilo de las tarjetas de producto */
.card-producto {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 5px; /* Reducir el padding */
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Estilo de la imagen del producto */
.card-producto img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Estilo del botón */
.btn-detalle {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px; 
  margin: 10px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.btn-detalle:hover {
  background-color: #45a049;
}

/* Estilo del enlace */
.link-detalle {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.link-detalle:hover {
  text-decoration: none;
}

/* Estilo del título principal */
.titulo-principal {
  text-align: center; /* Centrar el texto horizontalmente */
  margin-top: 0; /* Eliminar el margen superior */
  padding-top: 20px; /* Añadir un poco de padding superior si es necesario */
}

/* Contenedor del detalle del producto */
.producto-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 0px 5px 5px 5px;
  margin: 5px auto 15px auto;
  max-width: 800px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Contenedor de la parte izquierda */
.producto-izquierda {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Contenedor de la parte derecha */
.producto-derecha {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10px;
}

/* Estilo del nombre del producto */
.producto-nombre {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 2px;
}

/* Estilo de la imagen del producto */
.producto-imagen {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Estilo del precio del producto */
.producto-precio {
  font-size: 20px;
  color: #4CAF50;
  margin-bottom: 10px; /* Reducir el margen inferior */
}

/* Estilo de la marca del producto */
.producto-marca {
  font-size: 18px;
  margin-bottom: 2px; /* Reducir el margen inferior */
}

/* Estilo de la categoría del producto */
.producto-categoria {
  font-size: 18px;
  margin-bottom: 2px; /* Reducir el margen inferior */
}

/* Estilo del stock del producto */
.producto-stock {
  font-size: 16px;
  color: #666;
  margin-bottom: 1px; /* Reducir el margen inferior */
}

/* Estilo de la descripción del producto */
.producto-descripcion {
  font-size: 16px;
  color: #666;
  margin-bottom: 2px; /* Reducir el margen inferior */
}

/* Contenedor de los botones */
.botones-container {
  display: flex;
  gap: 10px; /* Espacio entre los botones */
}

/* Estilo de los botones */
.btn-detalle {
  background-color: #4CAF50; 
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.btn-detalle:hover {
  background-color: #45a049;
}

.btn-detalle a {
  color: white;
  text-decoration: none;
}

/* Pie de página */
footer {
  background-color: #4CAF50;
  color: white;
}





@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
  nav {
    background-color: #f9f9f9;
  }
  form {
    background-color: #f9f9f9;
    color: #213547;
  }
  form input,
  form textarea {
    background-color: #ffffff;
    color: #213547;
  }
}
