:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

h1 {
  font-size: em;
  line-height: 1.1;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


.main-layout {
  display: flex;
  flex-direction: column;
  min-height: 85vh;
}

.contenedor-layout {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  min-height: calc(85vh - 100px);
}

/* Estilos de Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #4CAF50;
  padding: 25px;
  color: white;
}

.header-title {
  margin: 0;
  font-size: 30px;
  text-align: left;
}

.icon-container {
  display: flex;
  align-items: center;
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.search-input {
  padding: 1rem 15rem 1rem 1rem;
  width: 100%;
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.search-icon {
  position: absolute;
  right: 10px; /* Ajusta la posición del icono dentro del input */
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
  pointer-events: none;
}

.icons {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.icon {
  margin: 0 10px;
  font-size: 24px;
  cursor: pointer;
}
.icon-link {
  color: white;
  text-decoration: none;
}

.icon-link:hover {
  text-decoration: underline;
}

.icon-text {
  margin-top: 5px;
  font-size: 14px;
}


/* Estilos del Navbar */
.Navbar {
  margin: 0;
  background-color: #2c3e50cc;
  padding: 10px;
}

.Navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

.Navbar ul li {
  margin: 0 10px;
}

.Navbar ul li a {
  text-decoration: none;
  color: white;
}

.Navbar ul li a:hover {
  color: #4CAF50;
}

/* Estilos para el Home */
.HomePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* min-height: 75vh; */
}
.HomePage h1 {
  padding-bottom: 2rem;
}

.Card-img {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.Card-img div {
  margin: 10px;
}

.Card-img img {
  width: 300px; 
  height: 200px; 
  object-fit: cover; 
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Estilo de los productos */
/* Contenedor del catálogo */
.catalogo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* min-height: 100vh; */
  text-align: center;
}

/* Contenedor de los productos */
.producto-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dos columnas */
  gap: 10px;
  width: 60%; 
  margin: 0 auto;
}

/* Estilo de las tarjetas de producto */
.card-producto {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 5px; /* Reducir el padding */
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Estilo de la imagen del producto */
.card-producto img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Estilo del enlace */
.link-detalle {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.link-detalle:hover {
  text-decoration: none;
}

/* Estilo del título principal */
.titulo-principal {
  text-align: center;
  margin-top: 0; 
  padding-top: 20px;
}

/* Contenedor del detalle del producto */
.producto-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 0px 5px 5px 5px;
  margin: 5px auto 15px auto;
  max-width: 800px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Contenedor de la parte izquierda */
.producto-izquierda {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Contenedor de la parte derecha */
.producto-derecha {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10px;
}

/* Estilo del nombre del producto */
.producto-nombre {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 2px;
}

/* Estilo de la imagen del producto */
.producto-imagen {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Estilo del precio del producto */
.producto-precio {
  font-size: 20px;
  color: #4CAF50;
  margin-bottom: 10px;
}

/* Estilo de la marca del producto */
.producto-marca {
  font-size: 18px;
  margin-bottom: 2px;
}

/* Estilo de la categoría del producto */
.producto-categoria {
  font-size: 18px;
  margin-bottom: 2px;
}

/* Estilo del stock del producto */
.producto-stock {
  font-size: 16px;
  color: #666;
  margin-bottom: 1px;
}

/* Estilo de la descripción del producto */
.producto-descripcion {
  font-size: 16px;
  color: #666;
  margin-bottom: 2px;
}

/* Contenedor de los botones */
.botones-container {
  display: flex;
  gap: 10px;
}

/* Estilo de los botones */
.btn-detalle {
  background-color: #4CAF50; 
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.btn-detalle:hover {
  background-color: #45a049;
}

.btn-detalle a {
  color: white;
  text-decoration: none;
}

/* LoginPage */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;  
}

.login-container h1 {
  margin-bottom: 1.5rem;
}

.login-card {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.login-card form {
  display: flex;
  flex-direction: column;
}

.login-card input {
  margin-bottom: 1rem;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-card button {
  padding: 0.75rem;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.login-card button:hover {
  background-color: #0056b3;
}

.login-card .error-message {
  color: red;
  margin-top: 1rem;
}

/* AdminPage */
.admin-page {
  display: flex;
  flex-direction: row;
  flex: 1;
  height: 100vh;
}

.sidebar {
  width: 200px;
  height: auto;
  background-color: #2c3e50;
  color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-header {
  margin-bottom: 1rem;
}

.sidebar-item {
  margin-bottom: 1rem;
}

.sidebar-item a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.sidebar-item a:hover {
  background-color: #34495e;
}

.sidebar-footer {
  margin-top: auto;
}

.sidebar-footer button {
  width: 100%;
  padding: 0.75rem;
  border: none;
  border-radius: 4px;
  background-color: #e74c3c;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sidebar-footer button:hover {
  background-color: #c0392b;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-left: 20px;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; /* Ajusta la altura según sea necesario */
  margin-bottom: 5px; /* Espacio debajo del título */
}

.title-container h1 {
  margin: 0;
  font-size: 2rem;
}

.forms-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.form-container {
  flex: 1;
  min-width: 300px;
  margin-bottom: 2rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
  margin-bottom: 1rem;
}

/* Pie de página */
footer {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  text-align: center;
  margin-top: auto; 
}






@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
  nav {
    background-color: #f9f9f9;
  }
  form {
    background-color: #f9f9f9;
    color: #213547;
  }
  form input,
  form textarea {
    background-color: #ffffff;
    color: #213547;
  }
}
